<p>Hi <%= @username %>,<br>
You received this email because you, or someone pretending to be you<br>
have requested admin password reset on urlove.ly.</p>

<p>We created a special link for you, this one: <%= link_to 'link', @url%>, which will reset your password.<br>
After reset your new password will be: <%= @pass %></p>

<p>If you dind't request password reset juts ignore this message and keep up with your daily joys.</p>

Kind regards,<br>
The team.