<div class='admin'>
	<div class='admin_stats'>
		Total Active Admins: <%= @total_active_admins %><br>
		Total Active Senders: <%= @total_active_senders %><br>
		Total Sent Messages: <%= @total_sent_messages %><br>
		Total Pending Messages: <%= @total_pending_messages%>
	</div>
</div>
