<div>
	<%= form_tag do %>
	<div class="field">
		<label for="username" >Username:</label><br />
      	<%= text_field_tag :username, params[:username], :size => 30 %>
	</div>
	<%= submit_tag 'Submit' %>
	<%end%>
</div>
