<div>
	<%= form_tag do %>
	<div class="field">
		<label for="username" >email:</label><br />
      	<%= text_field_tag :email, params[:email], :size => 30 %>
	</div>
	<%= submit_tag 'Submit' %>
	<%end%>
</div>
