body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}


.field_with_errors {display: inline;}

.field_with_errors label {
  background-color: #c00;
  color: white;
  font-weight:bold;
  padding: 2px;
  margin: 2px;
}

.field_with_errors input {
  border: 2px solid #c00;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  margin: 8px 10px;
}

#errorExplanation ul {
  margin: 0;
}

.home table {
  width: 100%;
  border-collapse: separate;
}

.home th {
  background-color: #555;
  text-align: left;
  color: white;
  padding: 2px 2px 2px 5px;
}

.home tbody tr {
  background-color: #E6F2FF;
}

.home td {
  padding: 5px 4px;
  color: #333;
  border-bottom: solid 1px #C5DBF7;
  border-left: solid 1px #C5DBF7;
}

.input {
  margin: 5px 0;
  background: white;
  float: left;
  clear: both;
}
.input span {
  position: absolute;
  padding: 5px;
  margin-left: 3px;
  color: #999;
}
.input input, .input textarea, .input select {
  position: relative;
  margin: 0;
  border-width: 1px;
  padding: 6px;
  background: transparent;
  font: inherit;
  width: 240px;
}
/* Hack to remove Safari's extra padding. Remove if you don't care about pixel-perfection. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .input input, .input textarea, .input select { padding: 4px; }
}
.first {width:auto;}

.first input {
  width:90px;
}

.last {
  width: auto;
  clear: none;
  margin-left: 10px;
}

.last input {
  width: 130px;
}

hr {clear:both; margin:10px 0;}

.signup { width: 258px; }

hr {margin-right:6px;}

