ul {list-style: none; margin: 0 0 0 1.5em; padding: 0;}
.buttons li {
  display: block;
  outline: none;
  cursor: pointer;
  text-align: left;
  text-decoration: none;
  font: 14px/100% Arial, Helvetica, sans-serif;
  padding: .5em .3em .65em;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-border-radius: .5em; 
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  width: 15em;
  margin: 9px 0;
}
.buttons li:hover {
  text-decoration: none;
}
.buttons li:active {
  position: relative;
  top: 1px;
}

/* white */
.white li {
  color: #606060;
  border: solid 1px #b7b7b7;
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
  background: -webkit-linear-gradient(top, #fff, #ededed);
  background: -moz-linear-gradient(top,  #fff,  #ededed);
  background: -ms-linear-gradient(top, #fff, #ededed);
  background: -o-linear-gradient(top, #fff, #ededed);
  background: linear-gradient(top, #fff, #ededed);  
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.white li:hover {
  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
  background: -webkit-linear-gradient(top, #fff, #dcdcdc);
  background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
  background: -ms-linear-gradient(top, #fff, #dcdcdc);
  background: -o-linear-gradient(top, #fff, #dcdcdc);
  background: linear-gradient(top, #fff, #dcdcdc);  
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.white li:active {
  color: #999;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
  background: -webkit-linear-gradient(top, #ededed, #fff);
  background: -moz-linear-gradient(top,  #ededed,  #fff);
  background: -ms-linear-gradient(top, #ededed, #fff);
  background: -o-linear-gradient(top, #ededed, #fff);
  background: linear-gradient(top, #ededed, #fff);  
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}

.tw, .fb, .gg, .yh, .li { display: block; padding:8px 0 7px 40px; }
.tw { background: url(../images/twitter_32.png) 0 0 no-repeat;}
.fb { background: url(../images/facebook_32.png) 0 0 no-repeat;}
.gg { background: url(../images/google_32.png) 0 0 no-repeat;}
.yh { background: url(../images/yahoo_32.png) 0 0 no-repeat;}
.li { background: url(../images/linkedin_32.png) 0 0 no-repeat;}

.buttons .ui-link {text-decoration:none; color: #555; font-weight: normal;}

.ui-content .ui-listview { margin:0;}

blockquote {
  font-weight: bold;
  font-style: italic;
  margin: 1em; }
blockquote:before {
  content: '"'; }
blockquote:after {
  content: '"'; }