      <h2>Multumim!</h2>
      <p>Îţi mulţumim că ai ales să subscrii la serviciul yourLove.ly!</p>
      <p>De acum înainte, până vei decide contrariul, îţi vom trimite din când în când
         remindere cu posibile mesaje de dragoste de expediat către <%=@letter.recipient.name%>.</p>
      <p>De fiecare dată când alegi să trimiţi o nouă scrisoare de dragoste către <%=@letter.recipient.name%>,
         noi îţi vom re-programa un nou reminder peste aproximativ 17-20 zile.</p>
      <p>Poţi renunţa oricând prin simpla ignorare a ultimului reminder, dar faci asta pe propriul
         tău risc! Nu cred că vrei să te pui rău cu <%=@letter.recipient.first_name%>!</p>
      <p>Poţi oricând reactiva serviciul, simplu prin alegerea a unui mesaj de dragoste din ultimul
         reminder ignorat, sau intrând în site şi retrimite reminder-ul.</p> 
      <p>Bucură-te de serviciul yourLove.ly, dar mult mai important, de momentele fericite alături de
         <%=@letter.recipient.first_name%>!</p>
