      <h2>Thank You!</h2>
      <p>Thank you for choosing to subscribe to yourLove.ly service!</p>
      <p>From now on, until you decide not to, we'll send you from time to time 
         reminders with love words to be sent to <%=@letter.recipient.name%>.</p>
      <p>Everytime you choose to send a new love letter to <%=@letter.recipient.name%>,
         we will schedule a new reminder for you 17-20 days later.</p>
      <p>Giving up is as easy as ignoring the last reminder altogether, but you do this
         at your own full risk! You may don't want to mess with <%=@letter.recipient.first_name%>!</p>
      <p>Resuming the service is as easy as to just pick one of the love quotes from
         the last reminder or from yourLove.ly site.</p>
      <p>Enjoy the yourLove.ly service, but most important, the happy life with 
         <%=@letter.recipient.first_name%>!</p>
