<ul class="buttons white">
<li>
  <a href="/auth/twitter" rel="external" class="tw">Sign in with Twitter</a>
</li>
<li>
  <a href="/auth/facebook" rel="external" class="fb">Sign in with Facebook</a>
</li>
<li>
  <a href="/auth/linked_in" rel="external" class="li">Sign in with LinkedIn</a>
</li>
<li>
  <a href="/auth/yahoo" rel="external" class="yh">Sign in with Yahoo!</a>
</li>
<li>
  <a href="/auth/google" rel="external" class="gg">Sign in with Google</a>
</li>
</ul>
