<p>Your message to <%=@letter.recipient.first_name%> was just delivered. Expect miracles! </p>
<p>The miracle will last 2-3 weeks, and then we will send you again a reminder with some more 
  love words you can peak from to send to <%=@letter.recipient.first_name%>. Thus, the miracle 
  will continue indefinitely.</p> 
<h4>Until then enjoy your happy life!</h4>
