<p>Mesajul tău către <%=@letter.recipient.first_name%> tocmai a fost expediat. Aşteaptă-te la miracole! </p>
<p>Miracolul va dura cam 2-3 săptămîni, apoi îţi vom trimite din nou un reminder cu alte mesaje de 
   dragoste din care vei putea alege să trimiţi către <%=@letter.recipient.first_name%>. În acest fel, 
   miracolul va continua la nesfârşit.</p> 
<h4>Până data viitoare, bucură-te de o viaţă fericită!</h4>
