<% if target.errors.any? %>
<div id="errorExplanation">
  <h2>Some error prevent this record from being saved.</h2>
  <p>Check the content of the fields marked in red and correct the information.</p>

  <ul>
  <% target.errors.full_messages.each do |msg| %>
    <%
      #message = msg.gsub(/Recipients /, "Love's ").capitalize
    %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>