<% if target.errors.any? %>
<div id="errorExplanation" class="info">
  <h2>Some error prevent this record from being saved.</h2>
  <h4>Check the content of the highlighted fields and correct the information.</h4>
<!--
  <ul class="rounded">
  <% target.errors.full_messages.each do |msg| %>
    <%
      #message = msg.gsub(/Recipients /, "Love's ").capitalize
    %>
    <li><%= msg %></li>
  <% end %>
  </ul>
-->
</div>
<% end %>