<div data-role="fieldcontain" id="bar-switch">
  <fieldset data-role="controlgroup" data-type="horizontal" style="margin:0;">
    <input type="radio" name="lang" id="lang-en" value="en" <%= session[:lang] == 'en' ? "checked" : ""%> />
    <label for="lang-en">En</label>
    <input type="radio" name="lang" id="lang-ro" value="ro" <%= session[:lang] == 'ro' ? "checked" : ""%> />
    <label for="lang-ro">Ro</label>
  </fieldset>
</div>  
