<li><%=
      link_to_if(en?, "În Româna", '/locale/ro' ) do
        link_to "In English", '/locale/en'
      end
    %>
</li>
<li><%=link_to "Mobile Site", :mobile => 1%></li>
<%if user_signed_in?%>
<li><%= link_to t("signout"), signout_url%></li>
<%end%>

