<p>Tocmai te-ai înregistrat la serviciul yourLove.ly!</p>
<p>Un e-mail a fost trimis pe adresa ta <%=@letter.sender.email%> ce conţine 
   un link de activare a serviciului. Acest lucru este necesar pentru a confirma
   adresa de e-mail.</p>
<p>Odată cu încheierea activării, mesajul selectat va fi trimis către 
   <%=@letter.recipient.name%> ca fiind trimis de tine, şi semnat de tine.</p>
<p>Asta va genera o reacţie remarcabilă ce va dura cel puţin 2-3 săptămâni.
   Apoi, noi îţi vem trimite un e-mail cu alte mesaje de dragoste din care vei
   putea alege să trimiţi, şi aşa mai departe, la nesfârşit!</p>
<p>Viaţa nu poate fi mai bună de atât, e promis!</p>
<p>Bucură-te de serviciul yourLove.ly, dar - cel mai important - de viaţa fericită 
   alături de <%=@letter.recipient.first_name%>!</p>
