  <div data-role="header" data-position="fixed">
    <a href="/" class="ui-btn-left" data-icon="back" rel="external"><%=t "back"%></a>
    <h3><%=t "hi"%> <%=current_user.nickname%></h3>
    <%= link_to t("signout"), signout_url, :class => "ui-btn-right", :'data-icon' => "delete"%>
  </div>
