  <div data-role="header" data-position="fixed">
    <a href="/" class="ui-btn-left" data-icon="back" rel="external">Back</a>
    <h3>Hi <%=current_user.name%></h3>
    <%= link_to "Signout", signout_path, :class => "ui-btn-right", :'data-icon' => "delete"%>
  </div>
