<div data-role="page" id="newletter" class="pagecontainer" data-url="/">
  <%= render 'shared/title'%>
  <article data-role="content">
    <div id="panel">
      <p> <%= t "almost_done"%> !</p>
      <%= render 'form' %>
    </div> 
  </article>
</div>
