<div data-role="page" id="sigin" class="pagecontainer" data-url="/">
  <%= render 'shared/title'%>
  <article data-role="content">
    <div id="panel">
      <p>We're almost done! Please fill in the details of your Love.ly one!</p>
      <%= render 'form' %>
    </div> 
  </article>
</div>
