
<input type="range" name="slider" id="slider" value="1" min="1" max="5" data-theme="f"  />
<select id="select">
  <option value="1"></option>
  <option value="2">She's upset!</option>
  <option value="3">She's crying!</option>
  <option value="4">She's throwing things!</option>
  <option value="5">She'll kill me!</option>
</select>
<div id="issue"></div>

<div class="issues" id="issue_1">
  <h2>Not too bad!</h2>
  <p>Well, let's solve this before it gets too bad! Over the dey we'll prepare 3 letters
    with mild apologies you're going to send her.</p>
  <p>To start pick one from below:</p>
  <ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="b"> 
    <li data-role="list-divider"> Apologies <span class="ui-li-count">3</span></li>
  </ul>
</div>
