<div data-role="page" id="sigin" class="pagecontainer" data-theme="b" data-url="/">
  <div data-role="header" data-position="fixed">
    <h3>yourLove.ly</h3>
  </div>
  <article data-role="content">
    <h3>Welcome!</h3>
    <p>
      <strong>yourLove.ly</strong> service in currently in beta and you need an invitation to subscribe.
    </p>
    <p>Please enter your invitation code below:</p>
    <div id="panel"> 
      <%= form_tag invited_url, :method => :get do %>
        <%= text_field_tag 'name', nil, :placeholder => "Enter invitation code" %>
        <button type="submit" name="submit" value="submit-value">Submit</button>
      <% end %>
    </div>
  </article>
</div>
