<div data-role="page" id="delivered" class="pagecontainer">
  <%= render 'shared/title_back'%>
  <article data-role="content">
    <div id="panel"> 
      <%= render 'shared/delivered'%>
    </div>
  </article>
</div>