<div data-role="page" id="editsender" class="pagecontainer" data-theme="b">
  <div data-role="header" data-position="fixed">
    <h3><%= t "settings"%></h3>
  </div>
  <article data-role="content">
    <div id="panel"> 
      <% @sender = current_user%>
      <%= render 'form' %>
      <a href="/#settings" data-role="button" data-icon="back" data-rel="back"><%=t "close"%></a>
    </div>
  </article>
</div>
