<% title "urlove.ly" %>
<div class="home">
  <div id="recipients">
    <h2>Your Lovely</h2>
    <ul>
      <%= render(:partial => "recipient", :collection => @sender.recipients, :locals => {:sender => @sender}) %>
    </ul>
  </div>
  <%unless @sender.letters.empty? %>
  <div id="letters">
    <h3>Letters Sent:</h3>
    <ul class="rounded">
      <%= render(:partial => "letter", :collection => @sender.letters) %>
    </ul>
  </div>
  <%end%>
</div>