<div class="home">
  <div id="recipients">
    <h3>Recipients:</h3>
    <%= render(:partial => "recipient", :collection => @recipients) %>
  </div>
  <%unless(@letters.empty?)%>
  <div id="letters">
    <h3>Letters:</h3>
  <%= render(:partial => "letter", :collection => @letters) %>
  </div>
  <%end%>
</div>