<% @letter = session[:letter]%>
<%unless @letter.nil?%>
<% I18n.locale = @letter.sender.lang  %>
<article data-role="content">
  <div id="panel"> 
    <% self.formats = [:mobile, :html] %>
    <%= render 'shared/pending'%>
  </div>
</article>
<%end%>
