<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Welcome to urLove.Ly</title>
<style>
h1 {
  font-family: 'Trebuchet MS'; 
  padding: 0px 0px 5px 0px; 
  margin: 0px; 
  color:#ff6600; 
  font-size: 2em;
  font-weight: normal; 
  letter-spacing: -2px; 
  display: block;  
  border-bottom: dashed 1px #b6d35c;
}
p {
  font-family:Verdana; 
  font-size: 1em; 
  color: #663300; 
  padding: 10px 10px 20px 0px; 
  margin: 0px; 
}
p a {color: #999999;}
blockquote {
  font-family:Georgia, "Times New Roman", Times, serif;
  font-size: 1.3em; 
  color: #000;
  font-weight:bold; 
  padding: 20px; 
  margin: 0px; 
}
blockquote a { 
  font-family:Georgia, "Times New Roman", Times, serif;
  font-size: 1.1em; 
  color: #663300; 
  font-weight:bold; 
  padding: 20px; 
  margin: 0px;
  text-decoration: none;
}
blockquote a:hover {
  color: #000;
} 
</style>
</head>
<body style="background:#f8f5ef;">
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f8f5ef">
  <tr>
    <td style="padding-top:15px; padding-bottom:20px;"><table width="600" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" style=" border: 5px solid #f2eee5; font-family: Verdana; font-size: 12px;">
        <tr>
          <td><table width="600" height="152" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="color:#666633;">
              <tr>
                <td width="580" align="center" height="152" valign="top" bgcolor="#ffffff" style="padding: 10px 10px 10px 10px;"><table width="580" height="152" align="center" border="0" cellspacing="0" cellpadding="0">
                    <tr bgcolor="#fff3e3">
                      <td style="padding:10px 0px 0px 30px" height="152">
                        <p style="font-family: 'Trebuchet MS'; color:#cc3300; font-size:2.1em; line-height:1.2em; letter-spacing: -1px; padding:0px; margin: 0px; font-weight: normal; text-transform: lowercase;">urlove.ly</p>
                        <p style="font-family: 'Trebuchet MS'; color:#ff6600; font-size:0.9em; line-height:1em; padding:0px; margin: 0px; font-weight: bold; text-transform:lowercase;">for your lovely one</p></td>
                      <td bgcolor="#fff3e3" height="152" align="right"><img src="http://emailer.60plus.ro/admin/resources/email_templates/Family%20and%20Friends/Community%20%281%20Column%29/bkg_header_right.png" alt="" /></td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>
        <tr>
          <td bgcolor="#FFFFFF" style="padding:0px 10px;"><table border="0" cellpadding="0" cellspacing="0" style="font-family: 'Verdana';">
              <tr>
                <td width="600" height="3" valign="top"></td>
              </tr>
              <tr>
                <td valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#fffdf7">
                    <tr>
                      <td style="padding:0px 15px 20px 15px;">
                        <%= yield %>
                      </td>
                    </tr>
                  </table></td>
              </tr>
            </table>
            <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF"  style="padding: 0px; color:#999;">
              <tr>
                <td valign="top" style="padding: 10px 0px; text-align:center;">
                  <p style="font-size: 0.7em; font-family: Verdana; color: #999999; text-align:center;">
                    This message was intended for <%=@email%>. 
                    You have received this message because you are subscribed to urlove.ly free service<br />
                    <br />
                    <%= link_to "Unsubscribe", @uns %> | To contact us please email <%=mail_to "office@urlove.ly"%></p></td>
              </tr>
            </table></td>
      </table></td>
  </tr>
  <tr>
    <td colspan="2" style="padding:0px;" bgcolor="#f8f5ef"><p style="font-family: Verdana; font-size: 0.6em; color: #333333;text-align:center;"> urLove.Ly</p></td>
  </tr>
</table>
</body>
</html>
